# Caso de uso

Basado en un archivo de Excel en el cual contiene el histórico de Compras y Ventas

Se pretende Obtener la suma de las Compras y las Ventas sumarizado por meses.

In [11]:
import pandas as pd

In [19]:
mi_contabilidad = pd.read_excel('contabilidad.xlsx', sheet_name='Balance')
mi_contabilidad.head()

       Fecha  Compra  Venta
0 2018-08-12       0   1544
1 2018-08-13     187  45817
2 2018-08-14  158447  12547
3 2018-08-15       0   1874
4 2018-08-16     484      0

In [13]:
mi_contabilidad.set_index('Fecha').dtypes

Compra    int64
Venta     int64
dtype: object

In [14]:
mi_contabilidad.Fecha = pd.to_datetime(mi_contabilidad.Fecha)

In [15]:
mi_contabilidad.dtypes

Fecha     datetime64[ns]
Compra             int64
Venta              int64
dtype: object

In [17]:
mi_contabilidad.head()

       Fecha  Compra  Venta
0 2018-08-12       0   1544
1 2018-08-13     187  45817
2 2018-08-14  158447  12547
3 2018-08-15       0   1874
4 2018-08-16     484      0

## Solución

In [18]:
mi_contabilidad.groupby(pd.Grouper(key='Fecha', freq='1M')).sum()

             Compra    Venta
Fecha
2018-08-31  2359520  1133387
2018-09-30  2402919  1273410
2018-10-31  3557038  1675885
2018-11-30  1205027   636190